.btnfixed {
    position: relative;
}
.btnfixed__box {
    position: fixed;
    bottom: 30px;
    right: 10px;
}
.btnfixed__btn {
    background-color: $mainColor2;
    padding: 15px;
    border-radius: 50%;
    border: 2px solid $mainColor;
}
.btnfixed__img {
}